In [2]:
pwd

'/Users/poojaaryamane/Downloads'

In [3]:
import pandas as pd 
yellow_cab23 = pd.read_parquet('yellow_tripdata_2023-01.parquet', engine='fastparquet')

In [4]:
print(yellow_cab23.shape)
yellow_cab23.head()

(3066766, 19)

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,2,2023-01-01 00:32:10,2023-01-01 00:40:36,1.0,0.97,1.0,N,161,141,2,9.3,1.00,0.5,0.00,0.0,1.0,14.30,2.5,0.00
1,2,2023-01-01 00:55:08,2023-01-01 01:01:27,1.0,1.10,1.0,N,43,237,1,7.9,1.00,0.5,4.00,0.0,1.0,16.90,2.5,0.00
2,2,2023-01-01 00:25:04,2023-01-01 00:37:49,1.0,2.51,1.0,N,48,238,1,14.9,1.00,0.5,15.00,0.0,1.0,34.90,2.5,0.00
3,1,2023-01-01 00:03:48,2023-01-01 00:13:25,0.0,1.90,1.0,N,138,7,1,12.1,7.25,0.5,0.00,0.0,1.0,20.85,0.0,1.25
4,2,2023-01-01 00:10:29,2023-01-01 00:21:19,1.0,1.43,1.0,N,107,79,1,11.4,1.00,0.5,3.28,0.0,1.0,19.68,2.5,0.00

In [5]:
zones = pd.read_csv('taxi+_zone_lookup.csv')
zones.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [6]:
zones_manh = zones[zones.Borough=='Manhattan']
PUzones_manh = zones_manh.copy()
DOzones_manh = zones_manh.copy()
PUnames = {'LocationID':'PULocationID', 'Borough':'PUBorough', 'Zone':'PUZone', 'service_zone':'PUservice_zone'}
DOnames = {'LocationID':'DOLocationID', 'Borough':'DOBorough', 'Zone':'DOZone', 'service_zone':'DOservice_zone'}
PUzones_manh.rename(columns=PUnames,inplace=True)
DOzones_manh.rename(columns=DOnames,inplace=True)

In [7]:
PUzones_manh.head()

    PULocationID  PUBorough             PUZone PUservice_zone
3              4  Manhattan      Alphabet City    Yellow Zone
11            12  Manhattan       Battery Park    Yellow Zone
12            13  Manhattan  Battery Park City    Yellow Zone
23            24  Manhattan       Bloomingdale    Yellow Zone
40            41  Manhattan     Central Harlem      Boro Zone

In [8]:
yellow_cab23_joined = yellow_cab23.merge(PUzones_manh, on = 'PULocationID', how = 'left')
yellow_cab23_joined.head()
# zones.Borough.unique()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,...,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee,PUBorough,PUZone,PUservice_zone
0,2,2023-01-01 00:32:10,2023-01-01 00:40:36,1.0,0.97,1.0,N,161,141,2,...,0.5,0.00,0.0,1.0,14.30,2.5,0.00,Manhattan,Midtown Center,Yellow Zone
1,2,2023-01-01 00:55:08,2023-01-01 01:01:27,1.0,1.10,1.0,N,43,237,1,...,0.5,4.00,0.0,1.0,16.90,2.5,0.00,Manhattan,Central Park,Yellow Zone
2,2,2023-01-01 00:25:04,2023-01-01 00:37:49,1.0,2.51,1.0,N,48,238,1,...,0.5,15.00,0.0,1.0,34.90,2.5,0.00,Manhattan,Clinton East,Yellow Zone
3,1,2023-01-01 00:03:48,2023-01-01 00:13:25,0.0,1.90,1.0,N,138,7,1,...,0.5,0.00,0.0,1.0,20.85,0.0,1.25,NaN,NaN,NaN
4,2,2023-01-01 00:10:29,2023-01-01 00:21:19,1.0,1.43,1.0,N,107,79,1,...,0.5,3.28,0.0,1.0,19.68,2.5,0.00,Manhattan,Gramercy,Yellow Zone

In [9]:
yellow_cab23_joined = yellow_cab23_joined.merge(DOzones_manh, on = 'DOLocationID', how = 'left')
yellow_cab23_joined.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,...,improvement_surcharge,total_amount,congestion_surcharge,airport_fee,PUBorough,PUZone,PUservice_zone,DOBorough,DOZone,DOservice_zone
0,2,2023-01-01 00:32:10,2023-01-01 00:40:36,1.0,0.97,1.0,N,161,141,2,...,1.0,14.30,2.5,0.00,Manhattan,Midtown Center,Yellow Zone,Manhattan,Lenox Hill West,Yellow Zone
1,2,2023-01-01 00:55:08,2023-01-01 01:01:27,1.0,1.10,1.0,N,43,237,1,...,1.0,16.90,2.5,0.00,Manhattan,Central Park,Yellow Zone,Manhattan,Upper East Side South,Yellow Zone
2,2,2023-01-01 00:25:04,2023-01-01 00:37:49,1.0,2.51,1.0,N,48,238,1,...,1.0,34.90,2.5,0.00,Manhattan,Clinton East,Yellow Zone,Manhattan,Upper West Side North,Yellow Zone
3,1,2023-01-01 00:03:48,2023-01-01 00:13:25,0.0,1.90,1.0,N,138,7,1,...,1.0,20.85,0.0,1.25,NaN,NaN,NaN,NaN,NaN,NaN
4,2,2023-01-01 00:10:29,2023-01-01 00:21:19,1.0,1.43,1.0,N,107,79,1,...,1.0,19.68,2.5,0.00,Manhattan,Gramercy,Yellow Zone,Manhattan,East Village,Yellow Zone

In [10]:
yellow_cab23_joined.dropna(subset = ['PUBorough'], inplace = True)
print(yellow_cab23_joined.shape)
yellow_cab23_joined.head()

(2715369, 25)

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,...,improvement_surcharge,total_amount,congestion_surcharge,airport_fee,PUBorough,PUZone,PUservice_zone,DOBorough,DOZone,DOservice_zone
0,2,2023-01-01 00:32:10,2023-01-01 00:40:36,1.0,0.97,1.0,N,161,141,2,...,1.0,14.30,2.5,0.0,Manhattan,Midtown Center,Yellow Zone,Manhattan,Lenox Hill West,Yellow Zone
1,2,2023-01-01 00:55:08,2023-01-01 01:01:27,1.0,1.10,1.0,N,43,237,1,...,1.0,16.90,2.5,0.0,Manhattan,Central Park,Yellow Zone,Manhattan,Upper East Side South,Yellow Zone
2,2,2023-01-01 00:25:04,2023-01-01 00:37:49,1.0,2.51,1.0,N,48,238,1,...,1.0,34.90,2.5,0.0,Manhattan,Clinton East,Yellow Zone,Manhattan,Upper West Side North,Yellow Zone
4,2,2023-01-01 00:10:29,2023-01-01 00:21:19,1.0,1.43,1.0,N,107,79,1,...,1.0,19.68,2.5,0.0,Manhattan,Gramercy,Yellow Zone,Manhattan,East Village,Yellow Zone
5,2,2023-01-01 00:50:34,2023-01-01 01:02:52,1.0,1.84,1.0,N,161,137,1,...,1.0,27.80,2.5,0.0,Manhattan,Midtown Center,Yellow Zone,Manhattan,Kips Bay,Yellow Zone

In [11]:
yellow_cab23_joined.drop(['PUBorough', 'DOBorough', 'PUservice_zone', 'DOservice_zone'], axis = 1, inplace = True)
yellow_cab23_joined.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,...,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee,PUZone,DOZone
0,2,2023-01-01 00:32:10,2023-01-01 00:40:36,1.0,0.97,1.0,N,161,141,2,...,1.0,0.5,0.00,0.0,1.0,14.30,2.5,0.0,Midtown Center,Lenox Hill West
1,2,2023-01-01 00:55:08,2023-01-01 01:01:27,1.0,1.10,1.0,N,43,237,1,...,1.0,0.5,4.00,0.0,1.0,16.90,2.5,0.0,Central Park,Upper East Side South
2,2,2023-01-01 00:25:04,2023-01-01 00:37:49,1.0,2.51,1.0,N,48,238,1,...,1.0,0.5,15.00,0.0,1.0,34.90,2.5,0.0,Clinton East,Upper West Side North
4,2,2023-01-01 00:10:29,2023-01-01 00:21:19,1.0,1.43,1.0,N,107,79,1,...,1.0,0.5,3.28,0.0,1.0,19.68,2.5,0.0,Gramercy,East Village
5,2,2023-01-01 00:50:34,2023-01-01 01:02:52,1.0,1.84,1.0,N,161,137,1,...,1.0,0.5,10.00,0.0,1.0,27.80,2.5,0.0,Midtown Center,Kips Bay

In [12]:
yellow_cab23_joined.DOZone.unique()

array(['Lenox Hill West', 'Upper East Side South',
       'Upper West Side North', 'East Village', 'Kips Bay',
       'Lincoln Square West', nan, 'Upper East Side North', 'Gramercy',
       'East Chelsea', 'Penn Station/Madison Sq West', 'Clinton East',
       'Upper West Side South', 'Sutton Place/Turtle Bay North',
       'Midtown Center', 'Midtown South', 'Financial District North',
       'Two Bridges/Seward Park', 'Yorkville East', 'East Harlem South',
       'Yorkville West', 'Lenox Hill East', 'West Chelsea/Hudson Yards',
       'TriBeCa/Civic Center', 'Murray Hill', 'Central Park',
       'UN/Turtle Bay South', 'Alphabet City', 'Midtown East',
       'Stuy Town/Peter Cooper Village', 'Hudson Sq', 'Bloomingdale',
       'Midtown North', 'Greenwich Village South', 'SoHo',
       'Meatpacking/West Village West', 'Central Harlem North',
       'Manhattan Valley', 'World Trade Center', 'Lower East Side',
       'Battery Park City', 'Clinton West', 'Union Sq',
       'Little Italy/NoLiTa', 'Morningside Heights', 'Flatiron',
       'West Village', 'Greenwich Village North', 'Chinatown',
       'Lincoln Square East', 'Financial District South',
       'Washington Heights North', 'Central Harlem', 'Randalls Island',
       'Inwood', 'East Harlem North', 'Roosevelt Island',
       'Hamilton Heights', 'Washington Heights South', 'Seaport',
       'Manhattanville', 'Garment District', 'Marble Hill',
       'Inwood Hill Park', 'Times Sq/Theatre District', 'Highbridge Park',
       'Battery Park'], dtype=object)